LOG_LEVEL=info
INDEXER_NAME=celestia_indexer
INDEXER_START_LEVEL={{ .IndexerStartLevel }}
INDEXER_BLOCK_PERIOD=5
INDEXER_REQUEST_BULK_SIZE=5

POSTGRES_HOST=celenium-db
POSTGRES_PORT=5432
POSTGRES_USER=celenium
POSTGRES_PASSWORD=celenium
POSTGRES_DB=celestia

CELESTIA_DAL_API_URL=http://bridge:26658
CELESTIA_DAL_API_TIMEOUT=30
CELESTIA_DAL_API_RPS=10

CELESTIA_NODE_URL=http://celestia:26657
CELESTIA_NODE_RPS=5
CELESTIA_NODE_TIMEOUT=10
CELESTIA_NODE_WS_URL=tcp://celestia:26657
CELESTIA_NODE_API_URL=http://celestia:1317
CELESTIA_NODE_API_TIMEOUT=30
CELESTIA_NODE_API_RPS=10
CELESTIA_NODE_AUTH_TOKEN=

API_HOST=0.0.0.0
API_PORT=9876
API_RATE_LIMIT=0
API_PROMETHEUS_ENABLED=false
API_REQUEST_TIMEOUT=30
API_WEBSOCKET_ENABLED=true
API_WEBSOCKET_CLIENTS_PER_IP=10

BLOB_RECEIVER=dal_api
CELENIUM_BLOBS_API_URL=http://celenium-api:9876/v1

CELENIUM_ENV=development
CELESTIALS_CHAIN_ID={{ .ChainID }}
CELESTIALS_API_URL=

CACHE_URL=
CACHE_DEFAULT_TTL=5
HYPERLANE_NODE_URL=
SENTRY_DSN=
PROFILER_SERVER=

PRIVATE_API_HOST=0.0.0.0
PRIVATE_API_PORT=9877
PRIVATE_API_RATE_LIMIT=0
PRIVATE_API_REQUEST_TIMEOUT=30

