configType = "custom"
l1ChainID = {{.L1ChainID}}
fundDevAccounts = false
l1ContractsLocator = "embedded"
l2ContractsLocator = "embedded"

[superchainRoles]
  SuperchainProxyAdminOwner = "{{.Wallet}}"
  ProtocolVersionsOwner = "{{.Wallet}}"
  SuperchainGuardian = "{{.Wallet}}"
  Challenger = "{{.Wallet}}"
{{range .Chains}}
[[chains]]
  id = "{{.ChainID}}"
  baseFeeVaultRecipient = "{{$.Wallet}}"
  l1FeeVaultRecipient = "{{$.Wallet}}"
  sequencerFeeVaultRecipient = "{{$.Sequencer}}"
  eip1559DenominatorCanyon = 250
  eip1559Denominator = 50
  eip1559Elasticity = 6
  gasLimit = 60000000
  operatorFeeScalar = 0
  operatorFeeConstant = 0
  minBaseFee = 0
  [chains.roles]
    l1ProxyAdminOwner = "{{$.Wallet}}"
    l2ProxyAdminOwner = "{{$.Wallet}}"
    systemConfigOwner = "{{$.Wallet}}"
    unsafeBlockSigner = "{{$.Wallet}}"
    batcher = "{{.L1Sender}}"
    proposer = "{{.L1Sender}}"
    challenger = "{{$.Wallet}}"
{{if $.AltDA.Enabled}}
  [chains.dangerousAltDAConfig]
    useAltDA = true
    daCommitmentType = "{{$.AltDA.DACommitmentType}}"
    daChallengeWindow = {{$.AltDA.DAChallengeWindow}}
    daResolveWindow = {{$.AltDA.DAResolveWindow}}
    daBondSize = {{$.AltDA.DABondSize}}
    daResolverRefundPercentage = {{$.AltDA.DAResolverRefundPercentage}}
{{end}}
{{end}}
